<a href="/dashboard"> &larr; Back to dashboard</a>
<div class="post">
  <div class="title">
    <h2>{{title}}</h2>
    <p>{{post_text}}</p>
  </div>
  <p class="meta">
  by <b><i>{{user.username}}</i></b> | <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a></p>
  </br>
</div>
</article>