<div class= "m-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3"> 
  
  <section class="grid grid-cols-1 gap-2 lg:grid-cols-1 lg:gap-0">
      
      <article class="bg-white w-10/12 rounded-lg">
        <div class="h-2 bg-indigo-400 rounded-t-md"></div>
        <div class="place-self-center">
            <div class="flex items-center justify-center pt-10 flex-col">
               <h2 class="font-bold mt-4 pb-2 border-b border-gray-200 text-5xl">Welcome!</h2>
              <img class="rounded-full w-32"
                src="{{renderData.0.0.user.user_img}}">
              <h1 class="text-gray-800 font-semibold text-2xl mt-5">{{renderData.0.0.user.username}}</h1>
              <h1 class="text-blue-500 text- p-4">{{renderData.0.0.user.email}}</h1>
              <h1 class="text-gray-500 text-sm p-4 text-center">{{renderData.0.0.user.biography}}</h1>
            </div>
            <div class="flex items-center justify-center mt-3 mb-6 flex-col">
              <div class="flex mt-2">
                <img src="../images/facebook-16.png" alt="A facebook logo icon linked to user's facebook profile." class="w-6 border-2 p-1 rounded-full mr-3">
                <img src="../images/linkedin-3-16.png" alt="A lin logo icon linked to user's lin profile." class="w-6 border-2 p-1 rounded-full mr-3">
                <img src="../images/twitter-16.png" alt="A facebook logo icon linked to user's facebook profile." class="w-6 border-2 p-1 rounded-full mr-3">
                <img src="../images/instagram-16.png" alt="A facebook logo icon linked to user's facebook profile." class="w-6 border-2 p-1 rounded-full mr-3">
              </div>
          </div>      
        </div>
      </article>
      
      {{!-- User's Posts --}}
      <article class="my-4 w-10/12 rounded-lg bg-white pb-2 lg:col-span-1">
        <div class="h-2 bg-indigo-400 rounded-t-md"></div>
        <div class="flex items-center flex-col">
          <h2 class="font-bold mt-4 pb-2 border-b border-gray-200 text-5xl">Your Posts</h2>
        </div>
        <div class="flex flex-col ml-4 mt-3">
            {{#each renderData.[0] as |post|}}
              <card class="mt-4 p-3">
                  <h2 class="text-blue-500 text-lg"><a href="/post/{{id}}">{{title}}</a></h2>
                  <p>by you on {{format_date createdAt}} in <i><a href="/group/{{event_id}}"><b>{{Event.event_title}}</b></a></i>
                  </br><a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a></p>
                  <a href="/dashboard/edit/{{id}}" class="edit-link">Edit Post</a>
              </card>
            {{else}}
              <h2>No Posts Yet!</h2>
            {{/each}}
          </div>
      </article>
  </section>



  <article class="w-10/12 rounded-lg bg-white lg:col-span-2">
    <div class="h-2 bg-indigo-400 rounded-t-md"></div>
      <div class="flex items-center flex-col">
        <h1 class="font-bold mt- pb-2 border-b border-gray-200 text-5xl">Upcoming Events</h1>
      </div>
    <section class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6">
      {{#each renderData.[1] as |events|}}
        <card class="mt-4 ">
          <div class="bg-white rounded overflow-hidden shadow-md">
            <a href="{{event_url}}" target="_blank">
            <img src="{{event_image}}" alt=""/></a>
              <span class="font-bold text-lg">{{event_title}}</span>
              <span class="block text-gray-500 text-sm">{{event_start}}</span>
              <button  type="button" onclick="window.location.href='/group/{{id}}'" class="bg-blue-400 px-2 border-2 text-white rounded container join-btn">Join Group</button>
          </div>
        </card>
      {{/each}}
    </section>
  </article>

</div>

<!-- START SCRIPTS -->
<script>
  function Menu(e) {
    let list = document.querySelector('ul');
  }
</script>
<script>
function Menu(e) {
let list = document.querySelector('ul'); e.name === 'menu' ? (e.name = "close", list.classList.add('top-[80px]'), list.classList.add('opacity-100')) : (e.name = "menu", list.classList.remove('top-[80px]'), list.classList.remove('opacity-100'))
}
</script>
<!-- END SCRIPTS -->
